{{ 'bed-details.css' | asset_url | stylesheet_tag }}
<section class="bed-deets">
  <div class="page-width">
  <div class="container">
    <h2 class="bed-deets-title">Experience the Difference</h2>
    <div class="deets-split">
      <div class="split-left">
        <div class="content-contain-left">
          <div class="content-align">
            <img src="https://cdn.shopify.com/s/files/1/0615/2824/4375/files/BB_MattressProtector.png?v=1682099893" alt="luxury dog bed"/>
            <h3>Mattress Protector</h3>
            <p class="mobile-black">Waterproof, Scratch-Resistant, Stain-Proof & Durable with 300,000+ Wyzsenbeek Rub Rating</p>
          </div>
        </div>
        <div class="content-contain-left">
          <div class="content-align">
            <img src="https://cdn.shopify.com/s/files/1/0615/2824/4375/files/birchwood-top-cover.png?v=1709755039" alt="reusable dog bed covers"/>
            <h3>Birchwood Top Cover</h3>
            <p>Single-use Birchwood Top Cover: Sustainable & Biodegradable Convenience</p>
          </div>
        </div>
      </div>

     <div class="split-center">
       <img src="https://cdn.shopify.com/s/files/1/0615/2824/4375/files/BB_MatressDiagram.png?v=1682099893" alt="Luxury Dog Bed" />
     </div>
      
      <div class="split-right">
        <div class="content-contain-right">
          <div class="content-align">
            <img src="https://cdn.shopify.com/s/files/1/0615/2824/4375/files/BB_SupportFoam.png?v=1682099893" alt="best dog bed"/>
            <h3>Support Foam</h3>
            <p>Essential for Optimal Spinal Alignment, Pressure Relief, and Enhanced Sleep Comfort</p>
          </div>
        </div>
        <div class="content-contain-right">
          <div class="content-align">
            <img src="https://cdn.shopify.com/s/files/1/0615/2824/4375/files/memory-form.png?v=1709755039" alt="waterproof dog bed"/>
            <h3>Memory Foam</h3>
            <p class="mobile-white">Joint Support, and Customized Cushioning</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>


{% schema %}
  {
    "name": "Bed Details",
    "settings": [],
       "presets": [
    {
      "name": "Bed Details"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}